@model List<Yahon.Models.Product>

<!---->

@if (Model != null)
{
<div class="w3-row-padding">
    @foreach (var item in Model)
    {
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-bottom w3-white w3-padding" style="color:red !important;">Giá: @item.ProductPrice VNĐ</div>

                <img src="@Url.Content("~/images/products/" + item.ProductImage)" alt="House">
                <div class="w3-display-top w3-white w3-padding " style="font-size:17px;">Giá: @item.ProductName VNĐ</div>
            </div>
        </div>
    }
</div>

}
