/*Styling tùy chỉnh mặc định ban đầu*/
/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar-toggle{
    background: black;
    margin-left: 10px;
}
.navbar-inverse, .navbar-collapse, .navbar-default {
    background: #ffffff !important;
    border:none;
}
/*Thay đổi màu của nav khi hover*/
.item-menu:hover {
    color: #f39c12 !important;
}
.item-menu a:hover {
    color: #f39c12 !important;
}
/*Slide carousel hình ảnh sản phẩm nổi bật*/
/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}

    .fade-carousel .carousel-inner .item {
        height: 100vh;
    }

    .fade-carousel .carousel-indicators > li {
        margin: 0 2px;
        background-color: #f39c12;
        border-color: #f39c12;
        opacity: .7;
    }

        .fade-carousel .carousel-indicators > li.active {
            width: 10px;
            height: 10px;
            opacity: 1;
        }

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

    .hero h1 {
        font-size: 6em;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .2;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {
    padding: 10px 40px;
}

.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px) {
    .hero {
        width: 980px;
    }
}

@media screen and (max-width: 640px) {
    .hero h1 {
        font-size: 4em;
    }
}


/******************************/
/*  Style for list nhãn hàng  */
/******************************/
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);



.col-item
{
    background: #FFF;
    padding: 5px;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}


.clear-left
{
    clear: left;
}


/************************/
/*  Login&Sign up form */
/***********************/


/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    /* Add a hover effect for buttons */
    button:hover {
        opacity: 0.8;
    }

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    /* Close button on hover */
    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

a {
    text-decoration: none;
    color: #1ab188;
    transition: .5s ease;
}

    a:hover {
        color: #179b77;
    }

.form {
    background: white;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}



.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}



/*************************************************************/
/***********************Giao diện item sản phẩm***************/
/*************************************************************/
/*Khung chứa*/
.product-sec1 {
    box-shadow: 0px 0px 15px 0px #D6D6D6;
    padding: 30px 20px;
    margin-bottom: 14px;
}

h3.heading-tittle {
    text-align: center;
    color: #000;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
}

.product-men {
    padding: 0 .5em;
    overflow: hidden;
    padding-bottom: 20px;
}


.men-thumb-item {
    text-align: center;
}

.item-info-product {
    margin-top: 40px;
    text-align: center;
}

    .item-info-product h4 a {
        color: #000;
        font-size: 17px;
        letter-spacing: 1px;
    }

.info-product-price {
    margin: 12px 0;
}

span.item_price {
    font-size: 18px;
    color: #d60404;
}

input[type="button"], input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
input.button {
    font-size: 13px;
    color: #fff;
    background: #1accfd;
    text-decoration: none;
    border: none;
    border-radius: 0;
    width:90%;
    text-transform: uppercase;
    padding: 13px;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;
}
input.button:hover {
    background: #1accfd;
    opacity:0.6;
}
    .nhan-hang{
        margin: 0 5px;
    }
    .item-nhan-hang{
        width: 100%;
        height: auto;
        margin: 2px 20px;
    }
.ds-nhan-hang {
    background-color: #F9F9F9;
    padding: 20px;
}




/************/
/*Banner*/
.product-sec1.product-sec2{
    background: url(/images/bg1.jpg)no-repeat 0px 0px;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.effect-bg {
    margin-top: 40px;
}
.effect-bg h3 {
    color: #fff;
    font-size: 47px;
    letter-spacing: 3px;
    font-weight: 600;
}
.effect-bg h6 {
    font-size: 18px;
    letter-spacing: 2px;
    margin: 18px 0;
    color: #fff;
}
.effect-bg p {
    color: #000;
}
h3.w3l-nut-middle {
    position: absolute;
    right: 30%;
    bottom: 46%;
    font-size: 35px;
    font-weight: 800;
    color: rgba(10, 10, 10, 0.38);
    transform: rotate(-64deg);
    -ms-transform: rotate(-64deg); /* IE 9 */
    -webkit-transform: rotate(-64deg);
}