<div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Liên hệ</h3>
    <p>Hãy để lại thông tin tư vấn cho chúng tôi</p>
    <form action="/action_page.php" target="_blank">
        <input class="w3-input w3-border" type="text" placeholder="Tên" required name="Name">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Nội dung" required name="Subject">
        <button class="w3-button w3-black w3-section" type="submit">
            <i class="fa fa-paper-plane"></i> Gửi
        </button>
    </form>
</div>

