<div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Giới thiệu</h3>
    <p>
        Công ty Yahon được thành lập từ năm 1997, với nhiều năm hoạt động trên thị trường Việt Nam, chúng tôi luôn không ngừng phấn đấu, nâng cao chất lượng hàng hóa và khai thác sản phẩm mới. Lấy mục tiêu nâng cao mức sống người tiêu dùng làm cái gốc cho nền tảng phát triển của công ty
    </p>
    <p>
        Trong bối cảnh thị trường cạnh tranh quyết liệt, công ty luôn duy trì thực hiện cải tiến chất lượng hàng hóa, chọn nguyên liệu có chất lượng tốt, thực hiện lưu trình kiểm tra chất lượng nghiêm ngặt, nhằm mục đích đưa đến tay người tiêu dùng những sản phẩm có chất lượng tốt nhất.
    </p>
    <p>
        Với sự hội nhập của nền kinh tế Việt Nam vào thị trường thế giới, chúng tôi càng nhận thức rõ và có thái độ tích cực không ngừng đổi mới, cải tiến cho 5 tiêu chuẩn lớn là : sản phẩm, sản xuất, kỹ thuật, chất lượng, kiểm phẩm, nhằm mục đích thỏa mãn mọi nhu cầu của khách hàng.
    </p>
</div>
